<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
      <h2>Employees</h2>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{#each emp in model.employee}}
            {{#link-to 'admin.employees.show' emp.id tagName='div'}}
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/avatar-m.png">
                                    <div class="m-t-xs font-bold">Graphics designer</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3>{{emp.fullName}}</h3>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <address>
                                    {{emp.address}}<br>
                                    
                                    <abbr title="Phone">P:</abbr> {{emp.phone}}
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            {{/link-to}}
        {{/each}}  
    </div>
</div>