<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{#each cli in model.client}} 
            {{#link-to 'admin.clients.show' cli.id tagName='div'}}       
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/avatar-m.png">
                                </div>
                            </div>
                            <div class="col-sm-8">

                                <h3><strong>{{cli.fullName}}</strong></h3>

                                    {{#if cli.dependants_name_display}}
                                    <p><i class="fa fa-child"></i> {{cli.dependants_name_display}}</p>
                                    {{else}}<p><i class="fa fa"></i>  </p>{{/if}}

                                <address>
                                    <abbr title="Phone">P:</abbr> {{cli.phone}}
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>