<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{#each cat in model.category}} 
            {{#link-to 'admin.categories.show' cat.id tagName='div'}}       
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <span class="fa fa-star fa-5x"></span>
                                    <div class="m-t-xs font-bold">
                                        <small class="label label-danger"> {{cat.courseCount}} Courses</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{cat.title}}{{cat.courseCount}}</strong></h3>
                                <p>{{cat.description}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>