<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
      <h2>Lessons you're registered in</h2>
  </div>
</div>



  <div id="lessons-container" class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="lesson-box">
          <div class="lesson-box-name">SWIMMING FOR TOTS</div>
          <div class="lesson-box-description">Vegan fingerstache DIY, fap cred beard distillery four loko. VHS messenger bag Pitchfork McSweeney's church-key authentic,.. See more.</div>
          <div class="lesson-date-span">April - June</div>
          <div class="lesson-price">$20</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="lesson-box">
          <div class="lesson-box-name">SWIMMING FOR TOTS</div>
          <div class="lesson-box-description">Vegan fingerstache DIY, fap cred beard distillery four loko. VHS messenger bag Pitchfork McSweeney's church-key authentic,.. See more.</div>
          <div class="lesson-date-span">April - June</div>
          <div class="lesson-price">$20</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="lesson-box">
          <div class="lesson-box-name">SWIMMING FOR TOTS</div>
          <div class="lesson-box-description">Vegan fingerstache DIY, fap cred beard distillery four loko. VHS messenger bag Pitchfork McSweeney's church-key authentic,.. See more.</div>
          <div class="lesson-date-span">April - June</div>
          <div class="lesson-price">$20</div>
        </div>
      </div>
   </div>
</div>