<div class='row'>
  <div id="lessons-container" class="container">  
    <div class='row'>
      {{#each course in model.courses}}
      {{#link-to 'app.lessons.show' course.id tagName='div'}}
      <div class='col-sm-4' style='padding-top: 15px'>
        <div class='lesson-box-name'>
        {{course.category.title}}
        </div>
      </div>
      {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>