<h1>admin index</h1>
<ul>
  {{#each client in model}}
    <li>{{client.first_name}} {{client.last_name}}</li>
  {{/each}}
</ul>
<!-- {{ember-chart type='Line' data=model.chartData width=200 height=200}} -->