<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{#each cli in model.client}} 
            {{#link-to 'clients.show' cli.id}}       
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">
                                    <div class="m-t-xs font-bold">Graphics designer</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            {{#link-to 'clients.show' this}} 
                                <h3><strong>{{cli.first_name}}</strong></h3>
                            {{/link-to}}
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <address>
                                    <strong>{{cli.address}}</strong><br>
                                    
                                    <abbr title="Phone">P:</abbr> {{cli.phone}}
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>