<div id="wrapper profile" class="show">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span></span>
                    <img alt="image" class="img-circle avatar" src="/assets/images/avatar.png">
                            
                            <span class="clear profile-name">David Williams
                             </span>
{{!--                             <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="login.html">Logout</a></li>
                            </ul>
 --}}                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                   <a>
                        <i class="fa fa-group"></i> <span>{{#link-to 'admin.clients' class="nav-label"}} Clients {{/link-to}}</span>
                   </a>
                </li>
                <li>
                   <a> 
                        <i class="fa fa-user"></i> <span>{{#link-to 'admin.employees' class="nav-label"}} Employees {{/link-to}}</span>
                   </a>
                </li>

                <li>
                   <a> 
                        <i class="fa fa-star"></i> <span>{{#link-to 'admin.categories' class="nav-label"}} Categories {{/link-to}}</span>
                   </a>
                </li>

                <li>
                   <a>
                        <i class="fa fa-calendar"></i> <span>{{#link-to 'admin.payments' class="nav-label"}} Payments {{/link-to}}</span>
                   </a>
                </li>

                
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    {{outlet}}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

    </div>
</div>

