<body>
<!-- Nav bar page -->
<div id="special">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to 'app.landing'}}<a class="navbar-brand navbar-brand-cruddy uppercase">splashers</a>{{/link-to}}

        </div>
        <div class="navbar-btn navbar-right">
          <a href="#" class="btn btn-default">SIGN IN</a>
        </div>

      </div>
    </nav>
</div>
  {{outlet}}
 

</body>
