<body>
<!-- Nav bar page -->
<div id="special">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to 'app.landing'}}<a class="navbar-brand navbar-brand-cruddy uppercase">splashers</a>{{/link-to}}

        </div>
        <div class="navbar-btn navbar-right">
          <a href="#" class="btn btn-default">SIGN IN</a>
        </div>

      </div>
    </nav>
</div>
  {{outlet}}
  <div id="cart" class="row">
  <h2>Your Courses</h2>



    <div id="cartClass" class="col-lg-2">
        <div class="contact-box">
        <div class="closeContact cart">X</div>
            <div class="col-sm-4 cart">
                <div class="text-center">
                  <span class="fa fa-support fa-5x"></span>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>Class Name</strong></h3>
                <p> Start Date:<br> June 6 </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>

</body>
