
<!-- CLIENT LAYOUT -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-brand-cruddy uppercase">splashers</a>

      </div>
        <div class="navbar-btn navbar-right">
        <a href="#" class="btn btn-default">SIGN IN</a>
        </div>

    </div>
  </nav>
{{outlet}}
