<body>
<div>
{{outlet}}
</div>

<div class="jumbotron jumbotron-gruddy">
  <div id="jumb-box-inner"class="col-lg-4 col-centered">
      <h1>I found a class we<br>could take together</h1>
  </div>
</div>

<div class="grey-div-container">
  <h3> FIND CLASSES NEAR YOU</h3>
    <div id="lessons-container" class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="lesson-box">
            <div class="lesson-box-name">SWIMMING FOR TOTS</div>
            <div class="lesson-box-description">Vegan fingerstache DIY, fap cred beard distillery four loko. VHS messenger bag Pitchfork McSweeney's church-key authentic,.. See more.</div>
            <div class="lesson-date-span">April - June</div>
            <div class="lesson-price">$20</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="lesson-box">
            <div class="lesson-box-name">SWIMMING FOR TOTS</div>
            <div class="lesson-box-description">Vegan fingerstache DIY, fap cred beard distillery four loko. VHS messenger bag Pitchfork McSweeney's church-key authentic,.. See more.</div>
            <div class="lesson-date-span">April - June</div>
            <div class="lesson-price">$20</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="lesson-box">
            <div class="lesson-box-name">SWIMMING FOR TOTS</div>
            <div class="lesson-box-description">Vegan fingerstache DIY, fap cred beard distillery four loko. VHS messenger bag Pitchfork McSweeney's church-key authentic,.. See more.</div>
            <div class="lesson-date-span">April - June</div>
            <div class="lesson-price">$20</div>
          </div>
        </div>
      </div>
      <div class="center-button">
        <a href="#" class="btn btn-default">BROWSE MORE CLASSES</a>
      </div>
    </div>
</div>
  
  <div class="white-div-container">
    <div id="register-container" class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Sign up the<br>whole family<br>with one click.</h1>
        </div>
        <div class="col-md-8">.col-md-8</div>
      </div>
    </div>
  </div>

  <div class="teal-div-container">
    <div id="register-container" class="container">
      <div class="row">
        <div class="col-md-4">.col-md-8</div>
          <div class="col-md-8">
          <h1>Keeping track of<br>schedules has never<br>been this easy.</h1>
        </div>
      </div>
    </div>
  </div>
</body>